<!DOCTYPE html>
<html>
<head>
<!--
    CobraCatalog
	COMP2680
	Web Project

    Author: Gavin M.D. Edwards & Matthew W. Noel
    Date:   October 8, 2021

    Filename: month.html
--->
   
	<meta charset="utf-8" />
	<title>CobraCatalog - Month</title>
	<link href="../../icon.png" rel="shortcut icon">
	<link href="../../css/all.css" rel="stylesheet">
	<link href="../../reset.css" rel="stylesheet"/>
	<link href="../../main.css" rel="stylesheet"/>
	<link href="../monthstyle.css" rel="stylesheet" />
</head>

<body>
	<header>
		<a href="../../home.html">
			<img alt="Logo" id="logo" src="../../cobramode.png"/>
		</a>
		<ul>
			<li><a href="../catalog.html"> Catalog </a></li>
			<li><a href="https://www.etsy.com/ca/shop/DarthPackman"> Etsy <i class="fas fa-external-link-alt"></i> </a></li>
			<li><a href="https://www.cobramode.com/"> Website <i class="fas fa-external-link-alt"></i> </a></li>
			<li><a href="https://www.patreon.com/cobramode"> Patreon <i class="fas fa-external-link-alt"></i> </a></li>
			<li><a href="https://www.myminifactory.com/users/cobramode"> MyMiniFactory <i class="fas fa-external-link-alt"></i> </a></li>
		</ul>
	</header>
	
	<section>
		<div class="items">
			<div>
				<a href="item.html">
					<img alt="item" src="item.jpg" style="width:100%"/>
				</a>
				<article>
					item
				</article>
			</div>
			<div>
				<a href="item.html">
					<img alt="item" src="item.jpg" style="width:100%"/>
				</a>
				<article>
					item
				</article>
			</div>
			<div>
				<a href="item.html">
					<img alt="item" src="item.jpg" style="width:100%"/>
				</a>
				<article>
					item
				</article>
			</div>
			<div>
				<a href="item.html">
					<img alt="item" src="item.jpg" style="width:100%"/>
				</a>
				<article>
					item
				</article>
			</div>
		</div>
	</section>

	<footer>
		<form id="email" action="#">
			<div id="emailbox">
				<input name="Email" id="mail" type="email" placeholder="Email Address" required />
			</div>

			<div id="buttons">
				<input type="submit" value="Subscribe" />
			</div>
		</form>

		<ul>
			<li><a> &copy; 2021 </a></li>
			<li><a> Gavin M.D. Edwards</a></li>
			<li>
				<a href="https://github.com/DarthPackman">
					<img alt="Github" class="social" src="../../Github.png"/>
				</a>
				<a href="https://twitter.com/DarthPackman">
					<img alt="Twitter" class="social" src="../../Twitter.png"/>
				</a>
				<a href="https://www.tiktok.com/@darthpackman">
					<img alt="Tiktok" class="social" src="../../Tiktok.png"/>
				</a>
				<a href="https://www.instagram.com/darthpackman/">
					<img alt="Instagram" class="social" src="../../Instagram.png"/>
				</a>
			</li>
		</ul>
		<ul>
			<li><a> &copy; 2021 </a></li>
			<li><a> Matthew W. Noel</a></li>
			<li>
				<a href="https://github.com/UltraHex">
					<img alt="Github" class="social" src="../../Github.png"/>
				</a>
			</li>
		</ul>
	</footer>
</body>
</html>